include database/mysql/*.sql
include database/postgresql/*.sql
include database/sqlite3/*.sql
include database/sqlserver/*.sql
include database/tests/mysql/*.sql
include database/tests/postgresql/*.sql 
include database/tests/sqlite3/*.sql 
include database/tests/sqlserver/*.sql